@import "tailwindcss";

@layer utilities {
  .clip-custom {
    clip-path: polygon(
      0% 0%,
      calc(100% - 18px) 0%,
      100% 18px,
      100% 100%,
      18px 100%,
      0% calc(100% - 18px)
    );
  }
  .clip-custom:hover {
    clip-path: polygon(
      18px 0,
      100% 0,
      100% calc(100% - 18px),
      calc(100% - 18px) 100%,
      0 100%,
      0 18px
    );
  }
  .text-customGold {
    @apply text-[#C4966C];
  }
  .text-customGreen {
    @apply text-[#13322B];
  }
  .bg-customGold {
    @apply bg-[#C4966C];
  }
  .bg-customGreen {
    @apply bg-[#135042];
  }
  .bg-dark {
    @apply bg-[#333333];
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 30px;
  height: 3.5px;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(9px);
}

.hamburger-bottom {
  transform: translateY(18px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* slider */
.slick-prev:before,
.slick-next:before {
  color: #c4966c !important;
  font-size: 1.5rem !important;
}

.slick-dots {
  bottom: -40px !important;
}

/* the slides */
.slick-slide {
  margin: 0 10px;
}

/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-track {
  display: flex !important;
  align-items: center !important;
  padding: 1rem 0;
}
